html {
  height: 100%; /* make sure it is at least as tall as the viewport */
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
  font-family: "Press Start 2P", cursive !important;
  background-image: url(https://i.gifer.com/PAq.gif);
  display: flex;
  justify-content: center;
}

.sign-in-btn {
  text-align: center;
  margin-top: 100px;
}

.modal-body {
  height: 100%;
}

.message-area-height {
  margin-bottom: 100px;
}

.content-wrapper {
  text-align: center;
}

.refresh {
  color: orange;
  margin-left: 20px;
}

li {
  list-style-type: none;
}

.nav-item {
  color: white;
}

.navbar-nav {
  margin-top: 10px;
}

.users-money {
  margin-left: 30px;
  color: orange;
  font-size: 18px;
}

.refresh {
  float: right;
}

.message-list {
  margin: 0;
  padding: 5px 20px;
}
.sell-buy-btn {
  position: absolute;
  right: 10px;
}
.message-list:first-child {
  margin-top: 20px;
}

.message-item {
  background-color: #f8f8f8;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.message-info {
  font-weight: bold;
}

.shop-btn {
  width: 200px;
}
.message-input {
  float: left;
  width: 80% !important;
  border-radius: 4px 0 0 4px !important;
}

img {
  margin-right: 20px;
}

.message-button {
  float: right;
  width: 20%;
  border-radius: 0 4px 4px 0 !important;
}
